## .gitignore

# ignore all
*

# allow directory
!*/

# allow files with extension
!*.*

# allow files
!.gitignore

# ignore yarn(npm) modules and log files
node_modules
*.log

# ignore tools and source
git.py
source
